.nav-item dropdown:hover .dropdown-menu {
  display: block;
}

/* .navbar-collapse{
  background-color: black;
} */

#myBtn {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 50;
  font-size: 30px;
  border: white;
  font-size: 22px;
  line-height: 14px;
  display: inline-block;
  outline: none !important;
  background: #26ae61;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  overflow: hidden;
  padding: 11px 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 20px;
  z-index: 1;
  cursor: pointer;
  border-radius: 100%;
}

#myBtn:hover {
  background-color: rgb(88, 200, 88);
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: #9a9a9a;
  padding: 12px 16px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: rgb(64, 180, 83);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  text-align: left;
}

.dropdown-menu :hover {
  color: #f1f1f1;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.83);
  height: 80px;
  padding: 0;
}

.navbar-toggler-icon {
  font-size: 1.25rem;
  line-height: 1;
  background-color: rgb(64, 180, 83);
  border: 3px solid #26ae61;
  border-radius: 0.25rem;
  color: rgb(53, 163, 163);
  transition: box-shadow .15s ease-in-out;
  padding-right: 0;
}

button .navbar-toggler-icon {
  padding: 0;
}

.navbar-toggler-icon:hover {
  color: black;
}

.navbar-brand {
  color: #04AA6D;
  font-size: 15px;
  padding-bottom: 35px;
  padding-right: 2rem;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 1em;
}

.navbar-brand:hover {
  color: #04AA6D;
}

.nav-item:hover {
  color: #04AA6D;
}

.footer-content {
  background-color: rgb(56, 52, 50);
}

.btn-common {
  border-radius: 100%;
  outline: none;
  padding: 8px;
}

.happy {
  background-color: #24324a;
}

.vertical-menu a {
  color: #8a99b3;
  display: block;
  padding: 8px;
  text-decoration: none;
}

.vertical-menu a:hover {
  color: rgb(88, 200, 88);
}

.copyright p {
  text-align: center;
  line-height: 65px;
  color: #fff;
}

.copyright {
  background-color: #26ae61;
  height: 65px;
}

.block-title {
  color: #fff;
  font-size: 20px;
}

.happy .p {
  color: #8a99b3;
}

.textwidget {
  color: #8a99b3;
}

.widget {
  color: #8a99b3;
}


h2 {
  font-family: Comic Sans MS;
}

p {
  color: #8a99b3;
}

.form-group .form-control {
  background-color: #24324a;
  border-color: #8a99b3;
  padding: 7px;
  display: inline-block;
  border-radius: 2em;
}

.form-group .form-control-1 {
  background-color: "white";
  padding: 7px;
  border: 2px solid #26ae61;
  border-radius: 30px;
  width: 530px;
}

.section-header .section-title {
  font-size: 35px;
  text-decoration: strong;
  margin-bottom: 0px;
  font-family: rubik, sans-serif;
  font-weight: 700;
  color: #333;
  position: relative;
  margin-top: -74px;
}

.hero-area h2 {
  color: #333;
  text-decoration: strong;
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  font-family: rubik, sans-serif;
  margin-bottom: 25px;
  position: relative;
}

.bi-search {
  background-color: #04AA6D;
  border-radius: 100px;

}

.text2 h3 {
  font-size: 30px;
  font-family: rubik, sans-serif;
  font-weight: 700;
  color: #333;
  position: relative;
}

.text-wrap {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: Comic Sans MS, sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-wrapper {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  font-family: Comic Sans MS, sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.text-wrapper h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

p {
  font-size: 16px;
  color: #6b6969;
  line-height: 26px;
  font-family: rubik, sans-serif;
  margin-bottom: 0;
}

.text-wrapper p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.category-2 h3 {
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: Comic Sans MS, sans-serif;
  font-weight: 500;
  color: black;
  font-weight: bold;

}

.category-2 h3:hover {
  color: #26ae61;
}

.category-2 a {
  text-decoration: none;
}

.category-1 {
  font-size: 20px;
  margin-top: 15px;
  text-decoration: none;
  color: black;
}

.category-1:hover {
  color: #26ae61;
}

.category-2:hover {
  transform: scale(1.1);
  background-color: #f9fcff;
}

.category-2 {
  background-color: rbg(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #f1f1f1;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 180px;
}

.button-3 {
  background-color: transparent;
  border: none;
  color: #26ae61;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 180px;
  border: 2px solid #26ae61;
}

.btn-custom {
  background-color: #26ae61;
  border: none;
  color: #fff;
  padding: 9px 21px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  z-index: 1;
  margin-top: 12px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none !important;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
}

.btn-custom:hover {
  background-color: #26ae61;
  color: #fff;
  opacity: 0.6;
}

.button:hover {
  background-color: #26ae61;
  color: #fff;
  opacity: 0.6;
}

.job-search-form .button:hover {
  background-color: #26ae61;
  color: #fff;
  opacity: 0.6;
}

.job-search-form .button {
  font-size: 22px;
  margin-left: -90px;
  line-height: 14px;
  display: inline-block;
  position: relative;
  outline: none !important;
  background: #26ae61;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  overflow: hidden;
  padding: 11px 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 20px;
  z-index: 1;
}

.search .button {
  font-size: 22px;
  line-height: 14px;
  display: inline-block;
  position: relative;
  outline: none !important;
  background: #26ae61;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  overflow: hidden;
  padding: 9px 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 30PX;
  z-index: 1;
  width: 50px;
  margin-top: -1px;
}

.carousel-item {
  background-color: rbg(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #f1f1f1;
  width: 700px;
  box-shadow: 0 7px 9px rgb(96 94 94 / 17%);
}

.carousel-inner {
  margin-bottom: 60px;
}


.brand {
  text-decoration: none;
  color: #26ae61
}

.brand:hover {
  color: #26ae61
}

body {
  font-family: rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
  display: block;
}

header {
  display: block;
}

.theme-header {
  width: 100%;
}

.brand {
  color: #26ae61;
  font-size: 14px;
  text-transform: uppercase;
}

.collapse:not(.show) {
  display: none;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.w-100 {
  width: 100% !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

ul {
  margin: 0;
  padding: 0;
}

.hero-area {
  background: #fff;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.testimonial-item {
  padding: 30px;
  margin: 15px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 14px rgb(191 191 191 / 24%);
}

.testimonial-item .author {
  display: inline-block;
  margin-bottom: 20px;
}

.catlogo .img-fluid {
  width: 60px;
  height: 60px;
}

.testimonial-item .author .img-thumb {
  float: left;
  overflow: hidden;
  position: relative;
}

.testimonial-item .content-inner {
  overflow: hidden;
}

.testimonial-item .content-inner .description {
  width: 100%;
  margin-bottom: 10px;
}

.testimonial-item .content-inner .author-info {
  padding: 3px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

footer .footer-Content {
  background-color: #24324a;
  padding: 60px 0;
  color: #8a99b3;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.textwidget {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

footer .menu {
  padding-left: 0;
  float: left;
  width: 50%;
}

#subscribe-form .form-group {
  position: relative;
}

.form-group {
  margin-bottom: 1rem;
}

#subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 39px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: 0 0;
  background: #26ae61;
}

.btn-common {
  background: #26ae61;
  color: #fff;
  position: relative;
  z-index: 1;
}

.btn-common :hover {
  color: #fff;
  opacity: 0.6;
}

.btn {
  font-size: 14px;
  padding: 0;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 14px;
  color: #ffffff;
  padding: 0 17px;
  letter-spacing: .5px;
  border-radius: 4px;
  line-height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: 0 0;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.carousel-indicators [data-bs-target] {
  background-color: #8a99b3;
  bottom: -30px;
}

.carousel-item h2 :hover {
  color: #04AA6D;
}

.author {
  text-decoration: none;
  color: black;
  font-size: 20px
}

.post {
  color: #9a9a9a
}

.scrollable-element {
  scrollbar-color: green;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.lni-twitter-filled:before {
  content: "\ea19";
}

.footer-social li .facebook {
  background-color: #3b5998;
}

.footer-social li .twitter {
  background-color: #55acee;
}

.lni-twitter-filled:before {
  content: "\ea19";
}

.footer-social li .linkedin {
  background-color: #007bb5;
  color: white;
  font-weight: 50px;
}

.footer-social li .google-plus {
  background-color: #dd4b39;
}

.lni-google-plus:before {
  content: "\e982";
}

.footer-social li a {
  border-radius: 30px;
  color: #fff;
  height: 32px;
  line-height: 35px;
  text-align: center;
  width: 32px;
  display: inline-block;
  transition: all .4s ease-in-out;
}

.footer-social li {
  display: inline-block;
  margin-right: 12px;
}

ul li {
  list-style: none;
}


.home .section {
  padding: 60px 0;
}

#download {
  background-color: #f9f5f5;
  margin-top: -30px;
}

#download .download-wrapper {
  width: 100%;
  display: table;
  height: 100%;
}

#download .download-wrapper>div {
  vertical-align: middle;
  display: table-cell;
}

#download .download-wrapper .download-text h4 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

#download .download-wrapper .app-button .button-3 {
  border-radius: 30px;
  width: 200px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 17px;
  margin-right: 10px;
  text-transform: capitalize;
}

.btn-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 30px;
  transition: all .5s ease-out 0s;
}

#download .download-wrapper .app-button .button-3 i {
  display: inline-block;
  font-size: 30px;
  float: left;
  line-height: 36px;
  margin-right: -6px;
}

#download .download-wrapper .app-button .btn-common {
  border: 2px solid #26ae61;
}

.carousel-indicators #btn-1 {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgb(66 68 67 / 55%);
}

.carousel-indicators #btn-2 {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgb(66 68 67 / 55%);
}

.carousel-indicators #btn-3 {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgb(66 68 67 / 55%);
}

.carousel-indicators .active {
  background: #26ae61 !important;
}

.text-success {
  font-size: 3rem;
}

h4 {
  font-family: Comic Sans MS, sans-serif;
}

.slicknav_button {
  outline: none;
}

.slicknav_button a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
